.text-center {
  text-align: center; }

.metal, .slide header h1, #slide-title h1 {
  font-family: 'Squealer';
  color: #fff;
  -webkit-text-stroke: .25px black;
  -webkit-background-clip: text; }

ul {
  color: #fff;
  margin-left: 25px;
  list-style: none;
  text-align: left; }
  ul li {
    position: relative;
    font-size: 44px;
    min-height: 70px;
    padding-left: 70px;
    margin-bottom: 25px; }
  ul li:before {
    display: block;
    position: absolute;
    top: -22px;
    left: -10px;
    content: " ";
    width: 60px;
    height: 80px;
    background: url("../images/fire.gif") no-repeat;
    background-position: center 0;
    background-size: 95%;
    padding-right: 5px; }

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 25px;
  right: 25px;
  height: 100%;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #fff; }
  .slide small {
    position: relative;
    top: -.166em; }
  .slide .step {
    position: relative; }
  .slide header {
    padding: 25px;
    font-family: 'Squealer';
    font-size: 2em;
    color: #fff;
    margin-bottom: 25px; }
    .slide header h1 {
      text-align: left; }

.content-group {
  padding-bottom: 50px;
  overflow: hidden; }

/* vertical centering - http://css-tricks.com/centering-in-the-unknown/ */
.container-center {
  height: 100%; }

.container-center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */ }

.content-center, .content-center-img-fill {
  display: inline-block;
  vertical-align: middle;
  width: 94%; }
  .content-center .step, .content-center-img-fill .step {
    width: 100%; }

.content-center-img-fill {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; }

body {
  font-family: 'Futura';
  font-size: 24px;
  background-color: #000; }

.caption, #adjective {
  display: inline-block;
  margin: -8px 0 0 12.5px;
  padding: 12.5px 25px 0;
  background-color: yellow;
  font-size: 72px;
  font-weight: bold;
  border: solid 2px #000;
  box-shadow: 7px 5px #000; }

#comicBurst {
  width: 465px;
  height: 367px;
  background: url("../images/comic-burst.png") no-repeat left top; }
  #comicBurst .inner {
    font-family: 'BadaBoom BB';
    padding-top: 160px;
    font-size: 44px;
    padding-left: 120px; }

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto; }

.subtitle {
  margin-top: 25px;
  font-size: 52px; }

#kickass {
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  height: 200px;
  width: 800px; }

.kickass {
  font-family: Impact;
  font-weight: bold;
  font-size: 160px;
  text-transform: uppercase; }
  .kickass .text {
    fill: url(#firePattern);
    stroke: #fff;
    stroke-width: 2; }
    .kickass .text.two {
      fill: url(#firePattern2); }

.fire-bg {
  width: 100%;
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  margin: 0 auto; }

svg {
  width: 100%;
  height: 100%; }

.d3-logo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  stroke: #fff;
  stroke-width: 1.5px; }
  .d3-logo .fill {
    fill: #000; }
  .d3-logo .stroke {
    fill: none;
    stroke: #ff6100;
    stroke-width: 20px; }
  .d3-logo #dee, .d3-logo #three {
    fill: url(#firePattern3); }

#slide-title h1 {
  position: relative;
  font-size: 72px;
  margin-bottom: 25px; }
