.text-center {
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  margin: 0; }

body {
  font-family: 'Squealer';
  font-size: 24px;
  background-color: #000; }

.caption, #adjective {
  display: inline-block;
  margin: -8px 0 0 12.5px;
  padding: 12.5px 25px 0;
  background-color: yellow;
  font-size: 72px;
  font-weight: bold;
  border: solid 2px #000;
  box-shadow: 7px 5px #000; }

#comicBurst {
  width: 465px;
  height: 367px;
  background: url("../images/comic-burst.png") no-repeat left top; }
  #comicBurst .inner {
    font-family: 'BadaBoom BB';
    padding-top: 160px;
    font-size: 44px;
    padding-left: 120px; }

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto; }

.subtitle {
  margin-top: 25px;
  font-size: 52px; }

#kickass {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 800px; }

.kickass {
  font-family: Impact;
  font-weight: bold;
  font-size: 160px;
  text-transform: uppercase; }
  .kickass .text {
    fill: url(#firePattern);
    stroke: #fff;
    stroke-width: 2; }
    .kickass .text.two {
      fill: url(#firePattern2); }

.fire-bg {
  width: 100%;
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  margin: 0 auto; }

svg {
  width: 100%;
  height: 100%; }

.title-screen {
  padding-top: 80px;
  color: #fff;
  -webkit-text-stroke: 1px black; }
  .title-screen h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#fff, #ccc);
    -webkit-background-clip: text;
    margin-bottom: 25px;
    color: #ccc; }

.d3-logo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  stroke: #fff; }
  .d3-logo .fill {
    fill: #000; }
  .d3-logo .stroke {
    fill: none;
    stroke: #ff6100;
    stroke-width: 20px; }
  .d3-logo #dee, .d3-logo #three {
    fill: url(#firePattern3); }
