@import 'mixins';
@import 'core';
@import 'slides';

* {
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	margin:0;
	overflow:hidden;
}

body {
	font-family: 'Futura';
	font-size: 24px;
	// background: #000 url('../images/metal-bg-1920x1080.jpg') no-repeat left top;
	background-color: #000;
}

.caption {
	display:inline-block;
	margin: -8px 0 0 $gutter/2;
	padding: $gutter/2 $gutter 0;
	background-color: yellow;
	font-size: 72px;
	font-weight:bold;
	border: solid 2px #000;
	box-shadow: 7px 5px #000;
}

#adjective {
	// width: 500px;
	@extend .caption;
	
}

#comicBurst {
	width: 465px;
	height: 367px;
	background: url('../images/comic-burst.png') no-repeat left top;

	.inner {
		font-family: 'BadaBoom BB';
		padding-top: 160px;
		font-size: 44px;
		padding-left: 120px;
	}
}

.container {
	max-width: 1200px;
	padding: 0 $gutter;
	margin: 0 auto;
}

.subtitle {
	margin-top: $gutter;
	font-size: 52px;
}
// Fire text
#kickass {
	position: relative;
	margin: 0 auto;
	padding-top: 100px;
	height: 200px;
	width: 800px;
}

.kickass {
	font-family: Impact;
	font-weight:bold;
	font-size: 160px;
	text-transform:uppercase;

	.text {
	  fill: url(#firePattern);
	  stroke: #fff;
	  stroke-width: 2;
	  &.two {
		  fill: url(#firePattern2);
		}
	}
	
}


.fire-bg {
		width: 100%;
		-webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    margin:0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.d3-logo {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;

	.fill {
		fill: #000;
	}
	.stroke {
		fill:none;
		stroke: $orange;
		stroke-width: 20px;
	}

	#dee, #three {
		fill: url(#firePattern3);
	}

	stroke: #fff;
	stroke-width: 1.5px;
}




// Title screen

#slide-title {
	h1 {
		position: relative;
	  font-size: 72px;
	  @extend .metal;
    margin-bottom: $gutter;

	}
}
